:root {
	--sidebar-width: 400px;
	--sidebar-foreground: #2e3436;
	--sidebar-background: #fffcf2;
	--toggle-background: #fff8de;
	--toggle-width: 50px;
	--toggle-active-background: #eeeeec;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	height: 100%;
	font-family: Ubuntu, 'Helvetica Neue', sans-serif;
}

.preload .sidebar {
	transition: none !important;
}

.view {
	position: absolute;
	left: var(--toggle-width);
	width: calc(100% - var(--toggle-width) - var(--sidebar-width));
	height: 100%;
}

.sidebar {
	position: absolute;
	z-index: 9999;
	width: var(--sidebar-width);
	height: 100%;
	padding-right: var(--toggle-width);
	background: var(--sidebar-background);
	color: var(--sidebar-foreground);
	transition: transform 0.2s;
}

.sidebar.collapsed {
	transform: translateX(calc(var(--toggle-width) - var(--sidebar-width)));
}

.sidebar-toggle {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px 0 0 0;
	margin: 0;
	width: var(--toggle-width);
	height: 100%;
	background: var(--toggle-background);
	border: none;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	cursor: pointer;
}

.sidebar-toggle:hover, .sidebar-toggle:focus {
	background: var(--toggle-active-background);
}

.front .sidebar-toggle {
	display: none;
}

.infobar {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	width: var(--sidebar-width);
	height: 100%;
	background: var(--sidebar-background);
	color: var(--sidebar-foreground);
}

.infobar:empty {
	display: none;
}

.info {
	height: 5em;
	padding: 1em;
	background: var(--toggle-background);
}

.features {
	padding: 1em;
	overflow: auto;
}

.features li {
	cursor: pointer;
}
